services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  api:
    image: papaabdoulaye/examensi-api:latest
    build:
      context: ./backend
    restart: unless-stopped
    environment:
      PORT: "4000"
      NODE_ENV: "production"
      CORS_ORIGIN: "http://localhost:8080"
      MONGODB_URI: "mongodb://mongo:27017/counter_app"
    depends_on:
      - mongo
    ports:
      - "4000:4000"

  web:
    image: papaabdoulaye/examensi-web:latest
    build:
      context: ./frontend
      args:
        VITE_API_BASE_URL: "http://localhost:4000"
    restart: unless-stopped
    depends_on:
      - api
    ports:
      - "8080:80"

volumes:
  mongo_data:
